<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada Sandra García Serrano y Ana Martínez Estada.
</p>

<img src="/images/Sandra.jpg" />
<img src="/images/Ana.jpg" /><br>
<a href="https://github.com/SandraGarciaSerrano/my_quiz.git">Repositorio</a>

